*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
    height: 30%;
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    gap: 10px;
}

input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

button{
    padding: 10px 20px;
    background-color: rgb(28, 81, 242);
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.users{
    height: 100%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.user_card{
    padding: 10px;
    height: fit-content;
    width: 20%;
    border-radius: 10px;
    border: 1px solid white;
}

.img_box{
    height: 70%;
    width: 100%;
    margin-bottom: 10px;  
}

.img_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.text{
    color: white;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 10px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

#edit{
    background-color: darkgoldenrod;
}
#delete{
    background-color: red;
}